.idea/.idea.gRPC/.idea
gRPC.Client/bin/Debug
gRPC.Client/obj
gRPC.ProtoLib/obj/Debug
gRPC.ProtoLib/bin
gRPC.ProtoLib/obj
gRPC.Server/bin/Debug
gRPC.Server/obj
Server.BidirectionalStream/bin
Server.BidirectionalStream/obj
